{% extends 'base.html' %}
{% block title %}Vulnerable{% endblock %}}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>CMS</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/Vulnerable">Vulnerable</a></li>
                            <li class="breadcrumb-item active">CMS</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card">
                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div id="example1_filter" class="dataTables_filter">
                                    <label style="width: 100%">
                                        <input type="search" class="form-control form-control-sm"
                                               placeholder="Search" style="height: 38px"
                                               aria-controls="example1">
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-8 text-right">
                                <a href="/Vulnerable/Create">
                                    <button type="submit" class="btn btn-primary">
                                        Create
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-hover dataTable dtr-inline"
                                       aria-describedby="example1_info">
                                    <thead>
                                    <tr>
                                        <th style="width: 5%">
                                            STT
                                        </th>
                                        <th style="width: 20%">
                                            Title
                                        </th>
                                        <th>
                                            Url
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th style="width: 15%">
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in data %}
                                        <tr>
                                            <td>
                                                STT
                                            </td>
                                            <td>{{ item.get('title') }}</td>
                                            <td>{{ item.get('url') }}</td>
                                            <td>{{ item.get('description') }}</td>
                                            <td>
                                                <a class="btn btn-info btn-sm" href="/Vulnerable/Edit">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Edit
                                                </a>
                                                <a class="btn btn-danger btn-sm" href="#"
                                                   onclick="delete_vuln('{{ item.id }}');">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing
                                    1 to 10 of 57 entries
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"
                                     style="float: right;">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="example1_previous">
                                            <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0"
                                               class="page-link">Previous</a></li>
                                        <li class="paginate_button page-item active"><a href="#"
                                                                                        aria-controls="example1"
                                                                                        data-dt-idx="1" tabindex="0"
                                                                                        class="page-link">1</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="example1"
                                                                                  data-dt-idx="2" tabindex="0"
                                                                                  class="page-link">2</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="example1"
                                                                                  data-dt-idx="3" tabindex="0"
                                                                                  class="page-link">3</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="example1"
                                                                                  data-dt-idx="4" tabindex="0"
                                                                                  class="page-link">4</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="example1"
                                                                                  data-dt-idx="5" tabindex="0"
                                                                                  class="page-link">5</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="example1"
                                                                                  data-dt-idx="6" tabindex="0"
                                                                                  class="page-link">6</a></li>
                                        <li class="paginate_button page-item next" id="example1_next"><a href="#"
                                                                                                         aria-controls="example1"
                                                                                                         data-dt-idx="7"
                                                                                                         tabindex="0"
                                                                                                         class="page-link">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
{% block js %}
    <script>
        function delete_vuln(vuln_id) {
            let sure = confirm('Are you sure?');
            if (!sure)
                return;

            $.ajax({
                url: `/Vulnerable/delete/${vuln_id}`,
                type: "POST",
                success: function (res) {
                    if (res.ok) {
                        toastr.success(res.mesg);
                        setTimeout(function () {
                            location.href = "/Vulnerable";
                        }, 0);
                    } else {
                        toastr.error(res.mesg);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    </script>

{% endblock %}