{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}}

{% block content %}

    <style>

        .modal {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: white;
            margin: 20% auto;
            padding: 20px;
            border-radius: 5px;
            width: 50%;
        }
    </style>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>DataTables</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">DataTables</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">DataTable with default features</h3>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-primary" id="addDataButton">Create</button>
                                <!-- Hộp thoại -->
                                <div class="modal" id="myModal">
                                    <div class="modal-content">
                                        <h2>Add New Data</h2>
                                        <form method="post" action="/add">
                                            <label style="display: inherit">Title: </label>
                                            <label>
                                                <input type="text" name="new_data" placeholder="Enter new data">
                                            </label>
                                            <label style="display: inherit">URL: </label>
                                            <label>
                                                <input type="text" name="new_data" placeholder="Enter new data">
                                            </label>
                                            <label style="display: inherit">Description: </label>
                                            <label>
                                                <input type="text" name="new_data" placeholder="Enter new data">
                                            </label>
                                            <button type="submit">Add</button>
                                        </form>
                                        <button id="closeModal">Close</button>
                                    </div>
                                </div>

                                <!-- JavaScript để điều khiển hiển thị/ẩn hộp thoại -->
                                <script>
                                    var modal = document.getElementById("myModal");
                                    var addButton = document.getElementById("addDataButton");
                                    var closeButton = document.getElementById("closeModal");

                                    addButton.onclick = function () {
                                        modal.style.display = "block";
                                    }

                                    closeButton.onclick = function () {
                                        modal.style.display = "none";
                                    }

                                    window.onclick = function (event) {
                                        if (event.target === modal) {
                                            modal.style.display = "none";
                                        }
                                    }
                                </script>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Url</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in data %}
                                        <tr>
                                            <td>{{ item.get('title') }}</td>
                                            <td>{{ item.get('url') }}</td>
                                            <td>{{ item.get('description') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
